<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogger.mapper.TestMapper">
    <resultMap id="BaseResultMap" type="com.blogger.model.Test">
        <result column="job_name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <sql id="Base_Column_List">
        job_name
    </sql>

    <select id="findCount" resultType="java.lang.Long">
        select count(*) from test.sys_job
    </select>

    <select id="selectListByPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from test.sys_job

    </select>
</mapper>